<ion-header>

  <ion-toolbar>

    <ion-buttons slot = "start">
      <ion-back-button [defaultHref]=""> </ion-back-button>
    </ion-buttons>

    <ion-title>Botones</ion-title>

    <ion-buttons slot = "end">
      <ion-button color = "primary">
        <ion-icon name = "heart"></ion-icon>

      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button size = "default" expand ="full">Incio</ion-button>
  <ion-button size = "default" expand ="full">Regresar</ion-button>
  <ion-button size = "default" expand ="full">Salir</ion-button>
</ion-content>
