<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Botones y Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Mis aplicaciones moviles</strong>
    <p>Iniciar con los componentes Buttons y Avatar<a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
